{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<section class="page__register register">
    <div class="register__container _container">
        <div class="register__content">
            <div class="register__title">Sign up</div>
            <form action="/auth/register" method="post" data-message="success" class="register__form form">
                <input type="email" name="email" placeholder="Email" class="form__input">
                <input type="text" name="username" placeholder="Name" class="form__input">
                <input type="password" name="password" placeholder="Password" class="form__input">
                <input type="password" name="password_repeat" placeholder="Confirm assword" class="form__input">
                <button type="submit" class="register_button button">Sign up</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}
