* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 14px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #222;
  background-color: white;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1122px;
  margin: 0 auto;
}
@media (max-width: 1134px) {
  ._container {
    max-width: 970px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.btn {
  display: inline-flex;
  padding: 0px 0px;
}
.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}
.select__item {
  position: relative;
  line-height: 1;
}
.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}
@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }
}
.select__value {
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.select__value:before {
  content: "";
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  color: #000;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}
@media (max-width: 991.98px) {
  .select__options {
    font-size: 18px;
  }
}
.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}
@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }
}
.select._active {
  z-index: 5;
}
.select._active .select__value:before {
  transform: rotate(-180deg);
}
.select._active .select__options {
  display: block;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus {
  outline: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}
textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}
.checkbox__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
  cursor: pointer;
}
.checkbox__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.checkbox a {
  color: #fff;
  text-decoration: underline;
}
@media (min-width: 992px) {
  .checkbox a:hover {
    text-decoration: none;
  }
}
.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options__item {
  position: relative;
  cursor: pointer;
}
.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}
.options__input:checked + .options__text:after {
  transform: scale(1);
}
.options__text {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: 1.25;
}
.options__text:before {
  content: "";
  align-self: flex-start;
  margin: 0px 14px 0px 0px;
  flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}
.options__text:after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating {
  display: flex;
  align-items: flex-end;
  font-size: 40px;
  line-height: 0.75;
  transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
  opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
  cursor: pointer;
}

.rating__body {
  position: relative;
}

.rating__body::before {
  content: "★★★★★";
  display: block;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #ffd300;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  font-size: 50%;
  line-height: 1;
  padding: 0px 0px 0px 10px;
}

.quantity {
  width: 88px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}
.quantity__button {
  flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}
.quantity__button::before, .quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}
@media (min-width: 991.98px) {
  .quantity__button:hover::before, .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
.quantity__button_plus::before {
  transform: rotate(-90deg);
}
.quantity__input {
  flex: 1 1 auto;
}
.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}
ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}
ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}
.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}
._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}
._more-link span {
  font-style: normal;
}
._more-link span:first-child {
  display: block;
}
._more-link span:last-child {
  display: none;
}
._more-link._active span {
  font-style: normal;
}
._more-link._active span:first-child {
  display: none;
}
._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}
._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}
._swiper.swiper-container-vertical .swiper-wrapper {
  flex-direction: column;
}
._swiper.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}
._tabs-block._active {
  display: block;
}

.mirror {
  transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}
._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}
.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
}
.popup.show {
  visibility: visible;
  overflow: auto;
}
.popup.show::before {
  opacity: 1;
}
.popup.show .popup__body {
  transform: scale(1);
}
.popup._active {
  overflow: auto;
  visibility: visible;
}
.popup._active::before {
  opacity: 1;
}
.popup._active .popup__body {
  transition: all 0.3s ease 0.2s;
  transform: scale(1);
}
.popup__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__body {
  transform: scale(0);
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}
.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header._scroll .header__wrapper {
  background-color: #68cf7d;
  color: #ffffff;
}
.header._scroll__body {
  padding: 5px 0px;
}
.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: all 0.3s ease 0s;
}
.header__body {
  min-height: 36px;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__info {
  font-weight: 300;
  font-size: 30px;
}

.header__info a {
  color: #222222;
  font-weight: 700;
}
.info__logo span {
  color: #F58D41;
}

@media (max-width: 767.98px) {
  .menu__body {
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #57BE6C;
    padding: 150px 30px 50px 30px;
    transition: left 0.3s ease 0s;
  }
  .menu__body:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    background-color: #57BE6C;
    z-index: 2;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
}
.menu__list {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .menu__list {
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 767.98px) {
  .menu__item:last-child {
    margin: 0 0 0 35px;
  }
}
@media (max-width: 767.98px) {
  .menu__item {
    margin: 40px 0 0 0;
    font-size: 22px;
    line-height: 36px;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.page {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
}

main {
  padding: 90px 20px;
}

.page__auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__container {
  min-width: 340px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 30px 40px;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__container .actions {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
}

.auth__container .actions p {
  margin-left: 20px;
}

.auth__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.form__input {
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #eeeeee;
  width: 100%;
}

.button {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #68cf7d;
  transition: background-color 0.3s ease 0s;
  border-radius: 10px;
  padding: 10px 20px;
}

.button.inverse {
  background-color: #b1eebc;
  color: #4da65e;
}

.button.inverse:hover {
  background-color: #cdf1d3;
}


.button:hover {
  background-color: #a8e8b4;
  color: #409c53;
}

.link {
  transition: color 0.1s ease 0s;
  color: #41ab56;
}

.link:hover {
  color: #9ae6a8;
}

.search__title {
  color: #000;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (max-width: 480px) {
  .search__title {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
  }
}
.search__title_top {
  margin-top: 30px;
}
.search__submit {
  margin-bottom: 50px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #E5E5E5;
  font-size: 19px;
  width: 250px;
  height: 75px;
  background-color: #57BE6C;
  overflow: hidden;
  transition: all 0.3s ease 0s;
  border-radius: 8px;
  transition: background-color 0.3s ease 0s;
}
.search__submit:hover {
  background-color: #E5E5E5;
  border: 2px solid #57BE6C;
  color: #57BE6C;
}

.field__input {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: #222222 solid 1.5px;
  background-color: #E5E5E5;
  transition: all 0.3s ease 0s;
  margin: 0 0 3px 0;
}
.field__input:focus {
  background-color: rgba(87, 190, 108, 0.2);
  border-color: #57BE6C;
}
.field__response {
  width: 100%;
  border: #57BE6C solid 1.5px;
  border-radius: 8px;
  padding: 10px 0;
  transition: all 0.3s ease 0s;
}
.field__response li {
  margin: 0 0 10px 0;
  display: flex;
  padding: 2px 15px;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}
.field__response li:hover {
  background-color: rgba(87, 190, 108, 0.2);
}
.field__response li button {
  color: #E5E5E5;
  font-size: 24px;
  width: 30px;
  height: 30px;
  background-color: #57BE6C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease 0s;
}
.field__response li button:hover {
  background-color: #E5E5E5;
  border: 1.5px solid #57BE6C;
  color: #57BE6C;
}

.result {
  padding: 15px;
  margin: 0 0 40px 1.5px;
  display: inline-flex;
  justify-content: start;
}
@media (max-width: 991.98px) {
  .result {
    margin: 0 0 30px 1.5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 767.98px) {
  .result {
    margin: 0 0 20px 1.5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.result__item {
  margin: 0 0 40px 0;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  color: #363636;
  background-color: #9deaac;
  overflow: hidden;
  transition: all 0.1s ease 0s;
  border-radius: 10px;
  white-space: nowrap;
}
.result__item:hover {
  background-color: #E5E5E5;
  color: #57BE6C;
}
.result__item:hover button span {
  opacity: 1;
}


@media (max-width: 767.98px) {
  .result__item {
    margin: 0 0 20px 0;
  }
}
.result__item button {
  z-index: 2;
  position: absolute;
  top: 3px;
  right: 3px;
  width: 10px;
  height: 10px;
}
.result__item button span {
  opacity: 0;
  position: absolute;
  display: block;
  width: 10px;
  height: 2px;
  background-color: #57BE6C;
  transition: all 0.3s ease 0s;
}
.result__item button span:first-child {
  transform: rotate(-45deg);
}
.result__item button span:last-child {
  transform: rotate(45deg);
}

/* ------------------------------------ *\
  #RECIPE
\* ------------------------------------ */

.recepies__title {
  color: #222222;
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
  margin: 30px 0 30px 0;
}

@media (max-width: 480px) {
  .recepies__title {
    font-size: 28px;
    line-height: 36px;
    margin: 20px 0 15px 0;
  }
}

.recepie {
  color: #222222;
  padding: 20px;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  transition: background-color 0.1s ease 0s;
}
.recepie:hover {
  background-color: #e4fae9;
}
.recepie__name {
  font-size: 21px;
  font-weight: 600;
  margin: 0 0 5px 0;
}
@media (max-width: 479.98px) {
  .recepie__name {
    font-size: 18px;
  }
}
.recepie__calorie {
  font-weight: 300;
  color: rgba(34, 34, 34, 0.7);
  font-size: 15px;
}
@media (max-width: 479.98px) {
  .recepie__calorie {
    font-size: 12px;
  }
}
.recepie__time {
  position: relative;
  font-size: 17px;
}
@media (max-width: 479.98px) {
  .recepie__time {
    font-size: 14px;
  }
}

.receipt__title {
  text-align: left;
  color: #222222;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 20px;
}

.receipt__title.small {
  font-size: 24px;
}

.receipt__title span {
  color: #686868;
  margin-left: 20px;
}

@media (max-width: 480px) {
  .receipt__title {
    font-size: 32px;
    line-height: 46px;
  }
}
.receipt__small {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 40px 0 60px 0;
}
.receipt__info {
  font-weight: 300;
  color: #363636;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-right: 20px;
}

.receipt__info .label {
  font-weight: 600;
  color: #222222;
  /* margin-right: 5px; */
}

.recepie__calorie p {
  border-radius: 10px;
  padding: 7px;
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px;
}

.recepie__calorie p.low {
  background-color: #5bc470;
}

.recepie__calorie p.medium {
  background-color: #ffe943;
}

.recepie__calorie p.high {
  background-color: #ff5858;
}

.receipt__ingr {
  /* max-width: 70%; */
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 25px;
}
.receipt__time {
  margin: 0 0 5px 0;
}
.receipt__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  font-size: 20px !important;
  width: 46px;
  height: 40px;
}

.receipt__descrp {
  margin: 20px 0 40px 0;
  font-size: 19px;
  line-height: 32px;
}
@media (max-width: 767.98px) {
  .receipt__descrp {
    margin: 20px 0 40px 0;
  }
}
.receipt__cooking {
  font-size: 19px;
  line-height: 32px;
}

.account__content {
display: flex;
flex-direction: column;
align-items: start;
}

.account__content .content-top {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 50px;
}

.account__content .content-top .account-actions {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.account__content .content-top .account-actions a:last-child {
  margin-left: 15px;
}

.account__placeholder {
  color: #686868;
  font-size: 16px;
}

.account__title {
text-align: center;
font-size: 38px;
font-weight: 600;
}

.account__title span {
  color: #686868;
}

@media (max-width: 480px) {
.account__title {
    font-size: 28px;
    line-height: 42px;
}
}
.account__text {
font-size: 24px;
font-weight: 600;
margin-bottom: 30px;
}
@media (max-width: 480px) {
.account__text {
    font-size: 28px;
    line-height: 42px;
}
}
.account__likes {
width: 100%;
}