{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block static %}
    <link rel="stylesheet" href="/static/css/search.css">
    <script src="/static/js/search.js"></script>
{% endblock %}
{% block content %}
<section class="page__search search">
    <div class="search__container _container">
        <div class="search__title">Search ingredients you have:</div>
        <div class="search__field field">
            <input type="text" class="field__input" placeholder="write your ingredients in english..." id="livebox">
            <div class="field__response">
                <ul class="field__list" id="response">
                    <li>Butter<button id="add_ingr">+</button></li>
                    <li>Lorem, ipsum dolor.<button id="add_ingr">+</button></li>
                    <li>Lorem, ipsum.<button id="add_ingr">+</button></li>
                    <li>Lorem ipsum dolor sit.<button id="add_ingr">+</button></li>
                    <li>Lorem.<button id="add_ingr">+</button></li>
                    <li>Lorem, ipsum.<button id="add_ingr">+</button></li>
                    <li>Lorem ipsum dolor sit.<button id="add_ingr">+</button></li>
                    <li>Lorem.<button id="add_ingr">+</button></li>
                </ul>
            </div>
        </div>
        <div class="search__title search__title_top">Your choice:</div>
        <div id='selectedIngredients' class="search__result result">
            <div class="result__item">Lorem ipsum dolor sit. <button><span></span><span></span></button></div>
            <div class="result__item">Lorem, ipsum.<button><span></span><span></span></button></div>
            <div class="result__item">Lorem ipsum dolor sit.<button><span></span><span></span></button></div>
            <div class="result__item">Lorem, ipsum.<button><span></span><span></span></button></div>
            <div class="result__item">Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor. Lorem, ipsum dolor.<button><span></span><span></span></button></div>
            <div class="result__item">Lorem ipsum dolor sit.<button><span></span><span></span></button></div>
            <div class="result__item">Buttererhsert juice ergerb<button><span></span><span></span></button></div>
            <div class="result__item">Lorem ipsum dolor sit.<button><span></span><span></span></button></div>
            <div class="result__item">Lorem, ipsum.<button><span></span><span></span></button></div>
            <div class="result__item">Lorem, ipsum dolor.<button><span></span><span></span></button></div>
            <div class="result__item">Lorem ipsum dolor sit.<button><span></span><span></span></button></div>
            <div class="result__item">Butter<button><span></span><span></span></button></div>
        </div>
        <a href='recepies' id='submitIngredients' class="search__submit">Show me recepies!</a>
        <!-- <form>
            <input type="text" name="search" placeholder="Add ingredients you have">
            <button type="submit">Search</button>

            <div class="ingredients-box">
                <ul>
                    ...
                </ul>
            </div>

            <label>How much time you have?<span>(in minutes)</span></label>
            <input type="radio" id="time" name="time" value="15">

            <input type="submit" value="Search">
        </form> -->
    </div>
</section>
{% endblock %}