{% extends 'base.html' %}
{% block title %}My account{% endblock %}

{% block content %}
<section class="page__account account">
    <div class="account__container _container">
        <div class="account__content">
            <div class="content-top">
                <div class="account__title"><span>Hello</span>, {{ username }}<span>!</span></div>
                <div class="account-actions">
                    <a href='/search' class="button inverse">Back to search</a>
                    <a href='/auth/logout' class="account__logout button">Logout</a>
                </div>
            </div>
            <div class="account__text">Here are all your liked recepies:</div>
            <div class="account__likes">
                {% if liked_recepies %}
                {% for liked in liked_recepies %}
                    <a href="/recepies/recepie?id={{ liked[0] }}" class="recepies__recepie recepie">
                        <div class="recepie__info">
                            <div class="recepie__name">{{ liked[1].name|capitalize }}</div>
                            {% if liked[1].calorie_level == 0 %}
                                <div class="recepie__calorie">Low calorie</div>
                            {% endif %}
                            {% if liked[1].calorie_level == 1 %}
                                <div class="recepie__calorie">Medium calorie</div>
                            {% endif %}
                            {% if liked[1].calorie_level == 2 %}
                                <div class="recepie__calorie">High calorie</div>
                            {% endif %}
                        </div>
                        <div class="like__time">{{ liked[1].minutes }} mins</div>
                    </a>
                {% endfor %}
                {% else %}
                    <div class="account__placeholder">You haven't liked any recepies yet.</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
