{% extends 'base.html' %}

{% block title %}Recepies{% endblock %}

{% block content %}
<section class="page__recepies recepies">
    <div class="recepies__container _container">
        {% if recepies %}
        <div class="recepies__title">Recepies for you:</div>
        {% for recepie in recepies %}
            <a href="/recepies/recepie?id={{ recepie.index }}" class="recepies__recepie recepie">
                <div class="recepie__info">
                    <div class="recepie__name">{{ recepie.name|capitalize }}</div>
                    {% if recepie.calorie_level == 0 %}
                        <div class="recepie__calorie">Low calorie</div>
                    {% endif %}
                    {% if recepie.calorie_level == 1 %}
                        <div class="recepie__calorie">Medium calorie</div>
                    {% endif %}
                    {% if recepie.calorie_level == 2 %}
                        <div class="recepie__calorie">High calorie</div>
                    {% endif %}
                </div>
                <div class="recepie__time">{{ recepie.minutes }} mins</div>
            </a>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
