{% extends 'base.html' %}
{% block title %}{{ recipe.name|capitalize }}{% endblock %}

{% block content %}
<section class="page_receipt receipt">
    <div class="receipt__container _container">
        <div class="receipt__title">
            {{ recipe.name|capitalize }}<span>#{{ recipe.id }}</span>
        </div>
        <div class="receipt__image">
            {% if image_url == '' %}
                <div class="image__placeholder">
                    <div class="image__placeholder__text">No image provided :(</div>
                </div>
            {% endif %}
            <div class="image__container" style="background-image: url('{{ image_url }}');"></div>
        </div>
            <div class="receipt__small">
                <div class="receipt__info">
                    <div class="receipt__ingr"><span class="label">Ingredients: </span>{{ recipe.ingredients }}</div>
                    <div class="receipt__time"><span class="label">Time: </span>{{ recipe.minutes }} mins</div>
                    {% if recipe.calorie_level == 0 %}
                        <div class="recepie__calorie">
                            <p class="low">Low calorie</p>
                        </div>
                    {% endif %}
                    {% if recipe.calorie_level == 1 %}
                        <div class="recepie__calorie">
                            <p class="medium">Medium calorie</p>
                        </div>
                    {% endif %}
                    {% if recipe.calorie_level == 2 %}
                        <div class="recepie__calorie">
                            <p class="high">High calorie</p>
                        </div>
                    {% endif %}
                </div>
                {% if logged %}
                    {% if liked %}
                    <button href="{{ recipe.id }}" class='receipt__button button inverse' id="likeRecepie">♥</button>
                    {% else %}
                    <button href="{{ recipe.id }}" class='receipt__button button inverse' id="likeRecepie">♡</button>
                    {% endif %}
                {% endif %}
            </div>
        <div class="receipt__title small">Description</div>
        <div class="receipt__descrp">{{ recipe.description }}</div>
        <div class="receipt__title small">How to cook?</div>
        <div class="receipt__cooking">{{ recipe.steps }}</div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $.parseParams = function(queryString) {
    var params = {}, queries, temp, i, l;
    queries = queryString.split("&");
    for (i = 0, l = queries.length; i < l; i++) {
        temp = queries[i].split('=');
        params[temp[0]] = decodeURIComponent(temp[1]);
    }
    return params;
    };
    $("#likeRecepie").on("click", function(e) {
        recepie_id = $(e.target).attr("href")

        $.ajax({
            method: 'post',
            url: "/recepies/like",
            data: {
                recepie_id: recepie_id
            }
        });
        if ($(e.target).html() === '♡') {
            $(e.target).html('♥')
        }
        else {
            $(e.target).html('♡')
        }
    });

    /*
    Set random background-color to .image__placeholder
    */
    var colors = ["#c0ddfc", "#fcc0c0", "#c0fcc2", "#fcfcc0"];
    var randomColor = colors[Math.floor(Math.random() * colors.length)];

    $('.image__placeholder').css('background-color', randomColor);
</script>
{% endblock %}