<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recepies</title>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- <meta name="robots" content="noindex, nofollow"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        {{ header|safe }}
        <main class="page">
            <section class="page__recepies recepies">
                <div class="recepies__container _container">
                    <div class="recepies__title">Recepies for you:</div>
                    {% for recepie in recepies %}
                        <a href="recepie?id={{ recepie.index }}" class="recepies__recepie recepie">
                            <div class="recepie__info">
                                <div class="recepie__name">{{ recepie.name|capitalize }}</div>
                                {% if recepie.calorie_level == 0 %}
                                    <div class="recepie__calorie">Low calorie</div>
                                {% endif %}
                                {% if recepie.calorie_level == 1 %}
                                    <div class="recepie__calorie">Medium calorie</div>
                                {% endif %}
                                {% if recepie.calorie_level == 2 %}
                                    <div class="recepie__calorie">High calorie</div>
                                {% endif %}
                            </div>
                            <div class="recepie__time">{{ recepie.minutes }} mins</div>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </main>
    </div>
    <script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
</body>
</html>