{% extends "base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
    <section class="page__search search">
        <div class="search__container _container">
            <div class="search__title">Search ingredients you have:</div>
            <div class="search__field field">
                <div class="search__field__container">
                    <input type="text" class="field__input" placeholder="Write your ingredients in english..." id="livebox">
                    <a href='/recepies' id='submitIngredients' class="button">Search</a>
                </div>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div id="response_block" class="field__response">
                    <ul class="field__list" id="response">
                    </ul>
                </div>
            </div>
            <div class="search__title search__title_top">Your choice will apperar below</div>
            <div id='selectedIngredients' class="search__result result">
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <div class="footer__content _container">

        </div>
    </footer>
    <script>
        $(document).ready(function(){
            $('#response_block').hide()
            var selectedIngredients = [];

            $("#livebox").on("input", function(e){
                var info = $("#livebox").val();
                $.ajax({
                    method:'post',
                    url: "livesearch",
                    data: {
                        text: info
                    },
                    success: function(res){
                        var res_block = $('#response');
                        res_block.html('')
                        if (res.length === 0) {
                            res_block.html('<li style="margin: 0; pointer-events: none;">No results found</li>');
                            return 0
                        } else {
                            res = res.slice(0, 4);
                            for (const ingr in res) {
                                var content = document.createElement(`li`)
                                content.innerHTML = `${res[ingr]}<span class="button" id="${res[ingr]}">+</span>`
                                res_block.append(content)
                            }
                            $('.field__list .button').on('mousedown', function(e) {
                                $('#livebox').val('');
                                var idOfClicked = e.target.id;
                                if (!selectedIngredients.includes(idOfClicked)) {
                                    selectedIngredients.push(idOfClicked);
                                    $('#submitIngredients').attr('href', `/recepies?ingredients=${JSON.stringify(selectedIngredients)}`)
                                    $('#selectedIngredients').append('<div class="result__item">' + idOfClicked + '<button class="removeButton" id="' + idOfClicked + '"><span style="pointer-events: none"></span><span style="pointer-events: none"></span></button></div>');
                                    $('.removeButton').on('click', function(event) {
                                        var index = selectedIngredients.indexOf(event.target.id);
                                        if (index !== -1) {
                                            selectedIngredients.splice(index, 1);
                                        }
                                        console.log(selectedIngredients);
                                        $('#submitIngredients').attr('href', `/recepies?ingredients=${selectedIngredients}`)
                                        $(this).parent().remove();
                                    });
                                }
                            });
                        }
                        $('#response_block').show();
                    }
                })
            });

            $('#livebox').blur(function() {
                setTimeout(() => {  $('#response_block').hide() }, 150);
            });
        });
    </script>
{% endblock %}